### WordPress template
# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

# Core
/wordpress/
/content/languages/
/content/upgrade/

# Configuration
wp-config.php
wp-config-ddev.php

# Log files
*.log

# User project
/composer.lock
